.page-container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    background-color: #f0f0f0 !important;
    padding: 0;
    height: 100vh;
    color: #333;
    position: relative;
}

.header {
    background-color: #4caf50;
    color: #333 !important;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 30px;
}


.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 50%;
    margin: 0;
    margin-left: 20px;
}

.form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.label {
    font-size: 1.1em;
    font-weight: bold;
    width: 200px;
    text-align: left;
    margin-right: 20px;
}

.input-field {
    width: 300px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 25px;

}

textarea {
    width: 300px;
    height: 100px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}

.text-display {
    font-size: 1em;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}


.change-button {
    background-color: #333;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1em;
    height: 40px;
    margin-left: 110px;

}

.change-button:hover {
    background-color: #444;
}

.upload-button {
    background-color: #4caf50;
    font-weight: bold;
    color: #333;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    width: 150px;
    margin-top: 30px;
}

.upload-button:hover {
    background-color: #444;
}

.add-tag-button {
    background-color: #4caf50;
    font-weight: bold;
    color: #333;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 1.2em;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
}

.add-tag-button:hover {
    background-color: #45a049;
}
